<!DOCTYPE html5>
<html>
  <%-include('head.ejs') %>
  <link rel="stylesheet" href="./form.css" type="text/css">

  <body>
    <div class="mycontainer">
      <main id="main">
        <section class="signup">
          <h2 class="signup_title">입차 승인</h2>
          <p></p>

          <p></p>
          <div class="container">
            <div class="row">
              <div class="col"></div>
              <button class="submit-button col" style="cursor:pointer" onclick="allow()">승인</button>
              <div class="col"></div>
              <button class="submit-button col" style="cursor:pointer" onclick="deny()">거부</button>
              <div class="col"></div>
            </div>
          </div>
          
        </section>
      </main>

      <footer class="footer">
        <a href="https://saloris.world">(주)사로리스</a>
      </footer>
    </div>
   
  </body>

  <!-- SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT- -->
  <script>
    const urlParams = window.location.search;
    function getParameterByName(name) { name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search); return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " ")); }
    const carNumber = getParameterByName('carNumber');
    function allow(){
      var ajax = $.ajax({
        url: "/allowEnter",
        data: {'msg': 'allow'+carNumber},
        type: "POST",
        dataType: "JSON",
        success: function (result) {
          if(result.isSuccess === 'true'){
          } else{
            // alert(result.msg)
          }
        }
      });
      location.href='/'
    }

    function deny(){
      var ajax = $.ajax({
        url: "/allowEnter",
        data: {'msg': 'deny'+carNumber},
        type: "POST",
        dataType: "JSON",
        success: function (result) {
          if(result.isSuccess === 'true'){
          } else{
            // alert(result.msg)
          }
        }
      });
      location.href='/'
    }
   
  </script>
</html>

