<!doctype html>
<html lang="en">
  <%-include('head.ejs') %>
  <body>
    <%-include('nav.ejs') %>
    <div>
        <ul class="list-group" id='txList'>
        </ul>
        <button class="btn btn-dark" id="loadMore" onClick="loadHistory()">더보기</button>
    </div>
    <script>
        let cursor = ''
        var receivedHistory // ajax로 수신 받은 이력

        function loadHistory() {
            let newHistory = [] // HTML 태그 삽입용
            var ajax = $.ajax({
                url: "/carEnterHistory",
                data: {cursor: cursor},
                type: "POST",
                dataType: "JSON",
                success: function (res) {
                    console.log(res)
                    receivedHistory = res.history.txs
                    cursor = res.history.cursor
                    
                    receivedHistory.forEach(function (item){
                        var time = new Date(item.time*1000);
                        var year = time.getFullYear();
                        var month = "0" + (time.getMonth()+1);
                        var day = "0" + time.getDate();
                        var hour = "0" + time.getHours();
                        var minute = "0" + time.getMinutes();
                        var second = "0" + time.getSeconds();
                        time = year + "-" + month.substr(-2) + "-" + day.substr(-2) + " " + hour.substr(-2) + ":" + minute.substr(-2) + ":" + second.substr(-2);

                        newHistory.push(
                            '<li class="list-group-item">'+
                            '[차량 번호] :'+item.carNumber+' [입차 시간] :'+time+
                            '</li>'
                        )
                    })
                    $('#txList').append(newHistory); // HTML 태그 삽입
                  if(res.history.cursor === ''){
                    alert('마지막 기록')
                    $('#loadMore').hide();
                  }
                }
              });
        }
    </script>

  </body>
  <style type="text/css">
    body {
      background-color: #dddddd;
    }
  </style>
</html>