<!DOCTYPE html5>
<html>
  <%-include('head.ejs') %>
  <link rel="stylesheet" href="./form.css" type="text/css">
  <body>
    <div class="mycontainer">
      <main id="main">
        <section class="signup">
          <h2 class="signup_title">Parking Pass 차단기</h2>
          <p></p>
          <div class="signup_form">
            <label for="carNumber" class="form_label">차량번호</label>
            <input type="text" id="carNumber" placeholder="123가4578" required />
          </div>

          <p></p>
          <button class="submit-button" style="cursor:pointer" onclick="carNumberVerify()">입차</button>
  
        </section>
      </main>

      <footer class="footer">
        <a href="https://saloris.world">(주)사로리스</a>
      </footer>
    </div>
   
  </body>

  <!-- SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT- -->
  <script>
    var carInfo = {};

    function carNumberVerify(){
      carInfo.carNumber = $("#carNumber").val();
      console.log(carInfo)
      var ajax = $.ajax({
        url: "/gate",
        data: carInfo,
        type: "POST",
        dataType: "JSON",
        success: function (result) {
          if(result.isSuccess === 'true'){
            alert(result.msg);
          } else{
            alert(result.msg)
          }
        }
      });
    }
   
  </script>
</html>

