<!DOCTYPE html>
<html lang="en">
<%-include('head.ejs') %>

<body>
  <%-include('nav.ejs') %>

  <div class="container-fluid bg-light">
    <div class="row">
        <div>
          <h3 class="text-center">
            Parking Pass Service
          </h3>
        </div>
    </div>
  </div>
</body>
</html>