<!DOCTYPE html>
<html lang="en">
<%-include('head.ejs') %>

<body>
  <%-include('nav.ejs') %>
  

  <div class="container-fluid bg-light">
    <div class="jumbotron">
      <h1 class="display-4">Parking Pass</h1>
      <hr class="my-4">
      <p class="lead">주차장 입차 알림 / 예약 서비스</p>
      <img src="./img/parking_v1.jpg" class="img-fluid" style="max-width:100%; height:auto;">  
    </div>
  </div>
</body>
</html>