<!DOCTYPE html>
<html lang="en">
<%-include('head.ejs') %>

<body>
  <%-include('nav.ejs') %>
  <img src="./img/parking_v1.jpg" class="img-fluid" style="max-width:100%; height:auto;">  

  <div class="container-fluid bg-light">
  </div>
</body>
</html>