<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1">Parking pass</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/carRegister" id="carRegister" style="display: none">차량 등록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/carCheck" id="carCheck" style="display: none">차량 조회</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/carEnterHistory" id="carEnterHistory" style="display: none">입차 이력</a>
          </li>
          <li class="nav-item">
              <button class="btn btn-dark" id="login" onclick="location.href='/login'">로그인</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-dark" id="logout" onclick="location.href='/logout'" style="display: none">로그아웃</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-info" id="userRegister" onclick="location.href='/userRegister'">회원가입</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-success" id="pushOn" onclick="pushOn()" style="display: none">알림 켜기</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-success" id="pushOff" onclick="pushOff()" style="display: none">알림 끄기</button>
          </li>
        </ul>
      </div>
    </div>
</nav>

<script>
  function mobileDraw() { // 모바일의 경우 알림 ON/OFF 버튼 없앰
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        $('#pushOn').hide();
        $('#pushOff').hide();
      }
  }

  function tokenDraw() {
    if(userIdCookie !== ''){
      if(fbTokenCookie === ''){ // 서버에 등록된 토큰이 없다
        $('#pushOn').show();
      }
      if(deviceToken === ''){ // getToken 실패 -> 버튼 다 꺼야함
        $('#pushOn').hide();
        $('#pushOff').hide();
      }
      if(fbTokenCookie !== '' & deviceToken !== ''){
        if(fbTokenCookie == deviceToken){ // 디바이스와 서버 토큰 일치
          $('#pushOn').hide();
          $('#pushOff').show();
        }
        else { // 디바이스랑 서버 토큰이 다름 -> 알림을 원하면 갱신 시켜야 함
          $('#pushOn').show();
        }
      }
    }
  }
  
  var userIdCookie = fbTokenCookie = '';
  var deviceToken = '';

  var cookie = document.cookie;
  cookie = cookie.split(';');
  cookie.some(function (item) { // 쿠키 긁기
    item = item.replace(' ', '');
    var dic = item.split('=');
    if (dic[0] === 'userId') {
      userIdCookie = dic[1]
      console.log( ' USER ID COOKIE : ', userIdCookie)
    }
    
    if(dic[0] === 'fbToken') {
      fbTokenCookie = decodeURIComponent(dic[1])
      console.log(' TOKEN COOKIE : ', fbTokenCookie)
    }
  });

  try{ // 구글 파이어베이스 기능은 https일때만 작동함 but localhost는 http로도 작동
    // 외부에서 http로 접근할 경우 파이어베이스 미작동 -> 알림 ON/OFF 버튼 미출력 
    var firebaseConfig = {
      apiKey: "AIzaSyDj_7i_joBFaiCd2Asol8GTJTEpwBrJOeM",
      authDomain: "saloris-test.firebaseapp.com",
      projectId: "saloris-test",
      storageBucket: "saloris-test.appspot.com",
      messagingSenderId: "81120770308",
      appId: "1:81120770308:web:9ca1a802dce84c077c7851",
      measurementId: "G-BW34QCLKVB"
    };
    firebase.initializeApp(firebaseConfig);

    const messaging = firebase.messaging();

    messaging.requestPermission().then(function () { //기기 토큰 불러오기
      console.log('Notification permission granted');
      return messaging.getToken();
    }).then(function (token) {
        console.log('Device token => ', token)
        deviceToken = token;
        tokenDraw() // 디바이스 토큰을 다 읽어온 시점에 tokenDraw를 호출해야함...
    }).catch(function (err) {
        console.log('Unable to get permission to notify.', err);
    });

    // let enableForegroundNotification = true;
    messaging.onMessage(function (payload) { // 메세지 수신부분
        console.log('Message Foreground received. ', payload);

        const notificationTitle = payload.data.title;
        const notificationOptions = {
            body: payload.data.body,
        };

        navigator.serviceWorker
            .getRegistrations()
            .then((registration) => {
                registration[0].showNotification(
                  notificationTitle,
                  notificationOptions,
                );
            });
    });
  }catch(err) {
    console.log(err);
    tokenDraw()
  }

  if(userIdCookie){
    $('#logout').show();
    $('#login').hide();
    $('#userRegister').hide();
    $('#carRegister').show();
    $('#carCheck').show();
    $('#carEnterHistory').show();
    $('#pushOn').show();
    $('#pushOff').hide();
  }
  tokenDraw()
  mobileDraw()
  
  function pushOn() {
    ajaxData = {loginId : userIdCookie, fbToken : deviceToken}

    var ajax = $.ajax({
      url: "/insertFbToken",
      data: ajaxData,
      type: "POST",
      dataType: "JSON",
      success: function (result) {
        if(result.msg === 'true'){
          alert('입차 알림이 켜졌습니다.')
          $('#pushOn').hide();
          $('#pushOff').show();
          mobileDraw()
        } else{
          alert('입차 알림 등록 실패')
        }
      }
    });
  }

  function pushOff() {
      ajaxData = {loginId : userIdCookie}
        var ajax = $.ajax({
          url: "/deleteFbToken",
          data: ajaxData,
          type: "POST",
          dataType: "JSON",
          success: function (result) {
            if(result.msg === 'true'){
              alert('입차 알림이 꺼졌습니다.')
              $('#pushOn').show();
              $('#pushOff').hide();
            } else{
              alert('입차 알림 해제 실패')
            }
          }
        });
  }
</script>